asn1crypto==0.22.0
backports.shutil-get-terminal-size==1.0.0
cryptography==1.9
decorator==4.3.0
enum34==1.1.6
idna==2.5
ipaddress==1.0.17
ipython==5.7.0
ipython-genutils==0.2.0
keyring==10.4.0
keyrings.alt==2.2
pathlib2==2.3.2
pexpect==4.5.0
pickleshare==0.7.4
prompt-toolkit==1.0.15
ptyprocess==0.5.2
pycrypto==2.6.1
Pygments==2.2.0
pygobject==3.24.1
pyxdg==0.25
scandir==1.7
SecretStorage==2.3.1
simplegeneric==0.8.1
six==1.10.0
traitlets==4.3.2
virtualenv==15.2.0
wcwidth==0.1.7
